<label for="title">Title:</label>
{{input id="title" class="form-control" value=eventTitle placeholder="Enter event title"}}

<label for="event">Event:</label>
{{input id="event" class="form-control" value=newEvent placeholder="Enter a new event date"}}
<p>Date must ISO string: Ex. 2015-07-25</p>

<a class="btn btn-primary" {{action "addEvent"}}>+ Add New Event</a>

<hr>
<div id="calendar"></div>