{{#each day in days}}
			{{#draggable-dropzone dropped="addTaskToDay" dayName=day.name}}

				<h4 class="page-header">{{day.name}}</h4>
				{{#each task in day.tasks}}
					{{#draggable-item content=task.id}}

						<div class="panel panel-default">
						  <div class="panel-body">
						  	<p>title: {{task.title}}</p>		
						  	<p>body: {{task.body}}</p>					 
						  </div>
						</div>
					{{/draggable-item}}

				{{/each}}
			{{/draggable-dropzone}}

{{/each}}


