{{#each day in days}}
		<div class="col-sm-2 day">
			{{#draggable-dropzone dropped="addTaskToDay" dayName=day.name}}

				{{day.name}}
				{{#each task in day.tasks}}
				<p>title: {{task.title}}</p>		
				<p>body: {{task.body}}</p>
				{{/each}}
			{{/draggable-dropzone}}

		</div>	

{{/each}}


